.header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgCarrito {
    width: 40px;
    height: 40px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 18rem;
    margin-bottom: 20px;
}

.imgCard {
    height: 250px;
}